*{
    margin: 0px;
    padding:0px;
}
/* --------------------body------------------- */
/* -------------------header----------------- */
.navbar{
    height:50px;
    width:auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    background-color: darkblue;
}
.navbar a{
    margin:5px;
    padding:5px;
    border: 1px solid white;
    border-radius:3mm;
    background-color: orange;
}
.navbar a:hover{
    cursor: pointer;
    color:black;
    font-weight: 800;
    background-color: greenyellow;
}

/* -----------------main-------------------------- */
main{
    display: flex;
    justify-content: space-between;
}
img{
    object-fit: fill;
    width: 300px;
    height: 300px;
    /* border: 2px solid red; */
}

.image{
    height:auto;
    width:300px;
    max-width: 500vw;
    margin:3rem;
    padding:2rem;
    align-items: center;
    justify-content:center;
    /* border: 5px solid black; */
}

.container{
    margin:3rem;
    padding:2rem;
    height: auto;
    width: 100%;
    /* background-color: chartreuse; */
}

h1{
    color: black;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:1rem;
    background-color: beige;

}

h2{
    color: black;
    /* text-align: center; */
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    margin: 0.5em;
    /* background-color: darkorange; */
    /* text-decoration: none; */
}

.content{
    margin:2rem;
    padding: 1rem;
    /* background-color: fuchsia; */
}

.content:hover{
    /* text-decoration: underline; */
    background-color:aliceblue;
}

ul li{
    list-style-type:none;
    margin-top:1rem;
    background-color: blueviolet;
}
/* -------------------footer---------------------- */
footer{
    background-color: darkblue;
    color: aliceblue;
    display:block;
    justify-content: center;
    align-items: end;
}

address{
    justify-content: center;
    text-align: center;
    align-items: end;
}